<nav>
    <table>
        <tr>
            <td>
                <a [routerLink]="['inicio']">
                    <!---ESTE ES UN ICONO-->
                    <i class="fas fa-house-damage fa-2x"></i> 
                    <br> <span>Inicio</span>
                </a>
            </td>
            <td>
                <a [routerLink]="['adoptame']">
                    <!---ESTE ES UN ICONO-->
                    <i class="fas fa-dog fa-2x"></i>
                    <br> <span>Adóptame</span>
                </a>
            </td>
            <td>
                <a [routerLink]="['reportame']">
                    <!---ESTE ES UN ICONO-->
                    <i class="fas fa-bullhorn fa-2x"></i>
                    <br> <span>Repórtame</span>
                </a>
            </td>
            <td>
                <a [routerLink]="['eventos']">
                    <!---ESTE ES UN ICONO-->
                    <i class="fas fa-calendar-alt fa-2x"></i>
                    <br> <span>Eventos</span>
                </a>
            </td>
            <td>    
                <a [routerLink]="['veterinarias']">
                    <!---ESTE ES UN ICONO-->
                    <i class="fas fa-hospital fa-2x"></i>
                    <br> <span>Veterinarias</span>
                </a>
            </td>
            <td>
                <a href="">
                    <i class="fas fa-bars"></i>
                </a>
            </td>
        </tr>
    </table>
</nav>